# Dependências
node_modules/

# Arquivos de Sessão e Cache do WhatsApp Web JS
.wwebjs_auth/
.wwebjs_cache/

# Arquivos de Ambiente (Segredos)
.env

# Logs de depuração do NPM
npm-debug.log*

# Configuração Pessoal

config/config.json